.title {
    $padding-5: 5px;

    background-color: wheat;
    border-radius: 8px;
    text-align: center;
    padding: $padding-5;
    margin: $padding-5;
    max-width: 200px;

    transition: all 0.3 ease-in-out 0s;
}
.title { 
    
}
